@model IEnumerable<Issue>
@{
    ViewData["Title"] = "Issues";
}

<h1>Issues</h1>

@*<a class="btn btn-light" asp-controller="Issues" asp-action="Index" asp-route-get_date="@true">Срок решения до 2х часов</a>*@

<body>
    <div>
        <a asp-controller="Issues" asp-action="Index" asp-route-get_date="@null">Show all</a>
    </div>
    <div>
        <a asp-controller="Issues" asp-action="Index" asp-route-get_date="@true">To close in the next 2 hours</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Summary</th>
                <th></th>
                <th>Creation time</th>
                <th>Execution time</th>
                <th>Status</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Header</td>
                    <td><a asp-controller="Issues" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
                    <td>@item.CreationDate.ToString()</td>
                    <td>@item.ExecutionDate.ToString()</td>
                    <td>@item.Status.Name</td>
                    <td><a asp-controller="Issues" asp-action="Details" asp-route-id="@item.Id">View issue</a></td>
                    <td><a asp-controller="Issues" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times text-danger"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-block btn-light" asp-controller="Issues" asp-action="Edit" asp-route-id="@null">Add Task</a>
    @*<i class="fa fa-plus fa-low-vision"></i>  Добавить Задачу </a>*@
</body>