@model IEnumerable<Issue>
@{
    ViewData["Title"] = "Issues";
}

<h1>Issues</h1>

<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Issue</th>
                <th></th>
                <th>Creation time</th>
                <th>Execution time</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Header</td>
                    <td><a asp-controller="Issues" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
                    <td>@item.CreationDate.ToString()</td>
                    <td>@item.ExecutionDate.ToString()</td>
                    <td><a asp-controller="Issues" asp-action="Details" asp-route-id="@item.Id">View issue</a></td>
                    <td><a asp-controller="Issues" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times text-danger"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-block" asp-controller="Issues" asp-action="Edit" asp-route-id="@null">
        <i class="fa fa-plus fa-lg"></i>  Добавить Задачу </a>
</body>